<header>
  <nav class="menu fixed-top d-flex align-items-center justify-content-between bg-gradient-x">

    <button class="btn" (click)="openStart(content)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>

    <a class="navbar-brand" routerLink="" routerLinkActive="active">
      <h1 class = "titulo display-3" >av360web</h1>
    </a>

    <ng-template #content let-offcanvas>
      <div class="offcanvas-header">
        <h1 class="offcanvas-title">Menu</h1>
        <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="offcanvas.dismiss()"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <li class="nav-item nav-link">
            <button class="nav-link active" (click)="offcanvas.dismiss('Close click')">
              <a routerLink="" routerLinkActive="active" >Início</a>
            </button>
          </li>
        </ul>
      </div>
    </ng-template>
  </nav>
</header>
