<div class="container">
  @if(loading){
    <app-loading />
  } @else {
    <div class="d-flex justify-content-between">
      <h1>Avaliação da Turma {{dados.turma.cod}}</h1>
      <h2>Etapa {{step}} de 5</h2>
    </div>
    @if(step === 1){
      <div>
        <h2>Escolha seu grupo</h2>
          @for (grupo of grupos; track grupo.id) {
            <button class="btn btn-outline-primary w-100 m-2" (click)="selecionarGrupo(grupo)">
              {{ grupo.nome }}
            </button>
          }
      </div>
    }
    @else if(step === 2){
      <h2>Equipe: {{grupoSelecionado.nome}}</h2>
      <div class="modal-body flex-grow-1 overflow-auto m-2">
        <label>Nome:</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nomeAluno"
        />
      </div>
      <button class="btn btn-primary" (click)="validarAluno()">Continuar</button>
    }
    @else if(step === 3){
      <div class="d-flex justify-content-between">
        <h2>Equipe: {{grupoSelecionado.nome}}</h2>
        <h2>Nota Máxima: {{ dados.turma.notaMax }}</h2>
      </div>
      <div>
      @if (carregandoAvaliacao) {
        <app-loading />
      } @else {
        <h3>Olá {{alunoLogado.nome}}! </h3>
        <h3>Você está avaliando {{ atual.avaliado.nome }}
          <br> Estudante {{indiceAtual + 1}} de {{avaliacoes.length}} </h3>
          @for (criterio of atual.criterios; track criterio.criterioId) {
            <label>{{ criterio.criterioNome }}</label>
            <input type="number"
              class="form-control"
              [(ngModel)]="criterio.nota"
              #notaModel="ngModel"
              placeholder="Nota" />
            @if (notaModel.touched && (criterio.nota < 1 || criterio.nota > dados.turma.notaMax)) {
              <ul class="error-list">
                  <li class="text-danger">Nota do critério deve estar entre 1 e {{dados.turma.notaMax}}</li>
              </ul>
            }
          }

          <button class="btn btn-primary" (click)="proximo()">Próximo</button>
      }
     </div>
    }
    @else if(step === 4){
      <h2>Equipe: {{grupoSelecionado.nome}}</h2>
      <h3>Olá {{alunoLogado.nome}}! </h3>
      <div>
        <h2>Resumo</h2>
        <div class="avaliacao-container">

          <p-table
            #table
            [value]="avaliacoes"
            dataKey="avaliadoId"
            [paginator]=true
            [rows]=50
            removableSort
            [scrollable]="true"
            class="table"
            >

            <ng-template #header >
               <tr class="first-row">
                  <th class="sticky-col nome-col" pFrozenColumn>Aluno</th>

                  @for (criterio of criterios; track criterio.id) {
                    <th class="criterio-col">
                      {{ criterio.nome }}
                    </th>
                  }

                  <th class="acao-col">Ação</th>
                </tr>
            </ng-template>

            <ng-template #body let-avaliacao let-rowIndex="rowIndex">
              <tr>

                <td class="sticky-col nome-col" pFrozenColumn>
                  {{ avaliacao.avaliado.nome }}
                </td>

                @for (criterio of avaliacao.criterios; track criterio.criterioId) {
                  <td class="nota-col">
                    {{criterio.nota}}
                  </td>
                }

                <td class="acao-col">
                  <button class="btn-editar" (click)="editar(rowIndex)">Editar</button>
                </td>

              </tr>
            </ng-template>

            <ng-template #emptymessage>
              <tr>
                <td colspan="8" class="text-center">
                  <h4>Nenhum dado encontrado!</h4>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <button class="btn btn-primary" (click)="confirmarNotas()">Confirmar</button>
      </div>
    }  @else if(step == 5){
      <div>
        <h2>Equipe: {{grupoSelecionado.nome}}</h2>
        <h3>Olá {{alunoLogado.nome}}! </h3>
        <div>
          <h2>Comentários</h2>
          <label>Mensagem:
              <textarea rows="5" cols="30" pTextarea [(ngModel)]="avaliacaoEnvio.comentarioAluno" fluid></textarea>
          </label>
        <button class="btn btn-primary" (click)="enviar()">Enviar avaliação</button>
      </div>
      </div>
    }  @else if(step == 6){
      <div>
        <h3>Avaliação enviada com sucesso!</h3>
        <p>Obrigado por participar.</p>
      </div>
    } @else {
      <p>Ocorreu um erro</p>
    }}
</div>
