<div class="container ">
  <div class="m-2">
    <span class="">Nota Máxima: {{turma.notaMax}}</span >
    @if (sessaoAtiva) {
      <button id="btn-buscar" class="btn btn-danger w-100" (click)="encerrarSessao();">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stop-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.5 5A1.5 1.5 0 0 0 5 6.5v3A1.5 1.5 0 0 0 6.5 11h3A1.5 1.5 0 0 0 11 9.5v-3A1.5 1.5 0 0 0 9.5 5z"/>
        </svg>
        Encerrar Avaliação
      </button>
    } @else {
      <button id="btn-buscar" class="btn btn-success w-100" (click)="criaSessao();">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
        </svg>
        Iniciar Avaliação
      </button>
    }
  </div>
  @if (sessaoAtiva) {
      <button id="btn-dashboard" class="btn btn-info w-100" (click)="dashboardReset(sessaoAtiva.id);">
        Recarregar
      </button>

    <div class="dashboard-section">
      <div class="dashboard-item">
        <h3 class="item-titulo">
          Média Geral
        </h3>
        <div class="item-conteudo">
          {{ dashboard?.mediaGeral | number:'1.0-1' }}
        </div>
      </div>
      <div class="dashboard-item">
        <h3 class="item-titulo">
          Total de Alunos
        </h3>
        <div class="item-conteudo">
          {{ dashboard?.totalAlunos }}
        </div>
      </div>
      <div class="dashboard-item">
        <h3 class="item-titulo">
          Já Avaliaram
        </h3>
        <div class="item-conteudo">
          {{ dashboard?.avaliaram }}
        </div>
      </div>
      <div class="dashboard-item">
        <h3 class="item-titulo">
          Pendentes
        </h3>
        <div class="item-conteudo">
          {{ dashboard?.pendentes }}
        </div>
      </div>
    </div>

    <div class="tabela-wrapper">
      <table class="table table-striped text-center table-hover">

        <thead class="table-dark">
          <tr class="first-row">

            <th>
              Critério
            </th>
            <th>
              Média Global
            </th>
            <th>
              Total de notas
            </th>

          </tr>
        </thead>

        <tbody>
          @for (criterio of dashboard?.criterios; track criterio.criterioId) {
            <tr>

              <td style="width: 70%;">
                {{criterio.nome}}
              </td>

              <td style="width: 15%;">
                {{criterio.mediaGlobal | number:'1.0-1'}}
              </td>

              <td style="width: 15%;">
                {{criterio.totalNotas}}
              </td>
            </tr>
          }
        </tbody>

      </table>
    </div>

    @for(grupo of dashboard?.grupos; track grupo.grupoId){
      <div ngbAccordion>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
              <h2>{{ grupo?.nome }}</h2>
            </button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <div class="dashboard-section">
                  <div class="dashboard-item">
                    <h3 class="item-titulo">
                      Média Geral
                    </h3>
                    <div class="item-conteudo">
                      {{ grupo?.media | number:'1.0-1' }}
                    </div>
                  </div>
                  <div class="dashboard-item">
                    <h3 class="item-titulo">
                      Total de Alunos
                    </h3>
                    <div class="item-conteudo">
                      {{ grupo?.alunos?.length }}
                    </div>
                  </div>
                  <div class="dashboard-item">
                    <h3 class="item-titulo">
                      Já Avaliaram
                    </h3>
                    <div class="item-conteudo">
                      {{ grupo?.avaliaram }}
                    </div>
                  </div>
                  <div class="dashboard-item">
                    <h3 class="item-titulo">
                       Pendentes
                    </h3>
                    <div class="item-conteudo">
                      {{ grupo?.pendentes }}
                    </div>
                  </div>
                </div>

                <table class="table table-striped text-center table-hover">
                  <thead class="table-dark">
                    <tr>
                      <th>Nome</th>
                      <th>Avaliou</th>
                      <th>Média</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (aluno of grupo.alunos; track aluno.alunoId){
                        <tr>
                          <td style="width: 70%;">{{aluno.nome}}</td>
                          <td style="width: 15%;">
                            @if (aluno.avaliou) {
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#198754" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                              </svg>
                            } @else {
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                              </svg>
                            }
                          </td>
                          <td style="width: 15%;">{{aluno.media | number:'1.0-1'}}</td>
                        </tr>
                    }
                  </tbody>
                </table>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    }
    <figure class="figure w-50 p-2">
      <img [src]="qrCode" alt="QR Code da Avaliação" class="figure-img img-fluid rounded" >
      <figcaption class="figure-caption">http://localhost:5074/avaliacao/publica/{{sessaoAtiva.tokenPublico}}</figcaption>
    </figure>
  }
</div>
