# Ambiente
ASPNETCORE_ENVIRONMENT=Development

# PostgreSQL
ConnectionStrings__DefaultConnection=

# Redis
Redis__Connection=

# JWT
Jwt__Issuer=
Jwt__Audience=
Jwt__Key=
Jwt__ExpirationMinutes=120

# Automapper 

Automapper__Key=

# Outros
Others__Admin_Pwd=