<div class="container ">
  <div class="m-2 w-100 d-flex flex-wrap">
    <div class="w-50 p-2 tittle-box">
      <h1 class="">Turma: {{dashboard.turmaCod}}</h1 >
      <h2 class="">Nota Máxima: {{dashboard.notaMax}}</h2 >
    </div>
    <div class="w-50 p-2 d-flex flex-column justify-content-around">
      <button id="btn-export" class="btn btn-success w-100 m-1" (click)="exportar();">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0"/>
        </svg>
        Exportar XLSX
      </button>
    </div>
    <p class="text-primary m-2 w-100">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
      </svg>
        As informações nessa página são relativas ao momento de encerramento da sessão.
    </p>
  </div>

  <app-dashboard_sessao [dashboard]="dashboard"/>

  <button class="back-button" [routerLink]="['/alunos-turma', sessao.turmaId]" routerLinkActive="active">
    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="#EDE9FE" stroke="#EDE9FE" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
    </svg>
  </button>
</div>
