<div class="container">
  <form (ngSubmit)="login()" method="post" class="mx-auto">
    <h1>Login</h1>

    <label>
      Usuário:
      <input type="text" class="form-control" [formField]="loginForm.userName" aria-label="User">
    </label>
    @if (loginForm.userName().touched() && loginForm.userName().invalid()) {
      <ul class="error-list">
        @for (error of loginForm.userName().errors(); track error) {
          <li>{{ error.message }}</li>
        }
      </ul>
    }

    <label>
      Senha:
      <input type="password" class="form-control" [formField]="loginForm.senha" aria-label="Senha">
    </label>
    @if (loginForm.senha().touched() && loginForm.senha().invalid()) {
      <ul class="error-list">
        @for (error of loginForm.senha().errors(); track error) {
          <li>{{ error.message }}</li>
        }
      </ul>
    }

    <div class="align-bottom" >
      <button type="submit" class="btn btn-secondary btn-success">Entrar</button>
    </div>
  </form>
</div>
