<div class="container">
  @if (loading) {
    <app-loading />
  } @else {
    <div class="row m-2">
      <div class="col-8">
        <h1>Professores</h1>
      </div>
      <button id="btn-buscar" class="btn btn-success col-4" (click)="adicionarProfessor();">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
        </svg>
        Adicionar Professor
      </button>
    </div>

    <div class="d-flex justify-content-end">

      <input
        pInputText
        type="text"
        placeholder="Buscar"
        (input)="table.filterGlobal($event.target.value, 'contains')" />

    </div>

    <p-table
      #table
      [value]="professores"
      dataKey="id"
      [paginator]=true
      [rows]=50
      [globalFilterFields]="['nome']"
      removableSort
      class="table"
      >


      <ng-template #header>
        <tr>
          <th style = 'width: 10%; text-align: center;' pSortableColumn="id">
            #
            <p-sortIcon field="id"/>
          <th pSortableColumn="nome">
            Nome
            <p-sortIcon field="nome"/>
          </th>
          <th style = 'width: 40%;'>Usuário</th>
        </tr>
      </ng-template>

      <ng-template #body let-professor>
        <tr>
                <td style= 'text-align: center'>{{professor.id}}</td>
                <td>{{professor.nome}}</td>
                <td>{{professor.userName}}</td>
        </tr>
      </ng-template>

      <ng-template #emptymessage>
        <tr>
          <td colspan="8" class="text-center">
            <h4>Nenhum Professor encontrado!</h4>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>
